<table style="font-family: 'Georgia', serif; font-size: 14px; color: #2c3e50;" cellpadding="0" cellspacing="0">
  <tr>
    <td style="background-color: #f8f9fa; padding: 10px;">
      <table cellpadding="0" cellspacing="0">
        <tr>
          <td style="padding-right: 15px; vertical-align: middle;">
            <img src="{{logoUrl}}" alt="Company Logo" style="width: 90px; height: auto;">
          </td>
          <td style="border-left: 3px solid #e74c3c; padding-left: 15px; vertical-align: middle;">
            <table cellpadding="0" cellspacing="0">
              <tr>
                <td style="font-size: 16px; font-weight: bold; padding-bottom: 5px;">{{fullName}}</td>
              </tr>
              <tr>
                <td style="padding-bottom: 3px;">
                  <a href="tel:{{phone}}" style="color: #34495e; text-decoration: none;">{{phone}}</a>
                </td>
              </tr>
              <tr>
                <td>
                  <a href="mailto:{{email}}" style="color: #34495e; text-decoration: none;">{{email}}</a>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>